.product__price .promo{
	color: #343434;
    text-decoration: line-through;
}
.product__price .promored{
color: #ff0000;
}

.price .promo{
	color: #343434;
    text-decoration: line-through;
}
.price .promored{
color: #ff0000;
}

.register-section__grid--detailed
{
	grid-template-columns: 50% 10% 40%;
	
}
