.cart-section {
    border: none;
}

.cart-box {
    padding: 0;
}

.item {
    .product__quantity {
        margin-left: 0;
        input {
            @media (max-width: 767px) {
                width: 35px;
                height: 35px;
            }
            @media (max-width: 560px) {
                width: 25px;
                height: 25px;
                font-size: 1.4rem;
            }
        }
    }
    &--delete {
        a {
            display: block;
            width: 15px;
            &:before {
                content: '';
                display: block;
                width: 17px;
                height: 4px;
                background-color: #000;
                transform: rotate(45deg);
                position: absolute;
            }
            &:after {
                content: '';
                display: block;
                width: 17px;
                height: 4px;
                background-color: #000;
                transform: rotate(-45deg);
                position: absolute;
            }
        }
    }
}

.step-line {
    max-width: 450px;
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
    position: relative;
    @media (max-width: 767px) {
        max-width: 350px;
    }
    @media (max-width: 560px) {
        max-width: 230px;
    }
    &:after {
        content: '';
        border-bottom: 1px solid #ececec;
        display: block;
        width: 100%;
        height: 1px;
        position: absolute;
        margin-top: 7px;
        z-index: -1;
    }
    &__box {
        &--dot {
            width: 15px;
            height: 15px;
            display: block;
            border: 1px solid #ececec;
            background-color: #fff;
            border-radius: 100%;
        }
        &--text {
            position: absolute;
            margin-left: -50px;
            margin-top: 10px;
            width: 120px;
            text-align: center;
            font-size: 1.4rem;
            font-weight: 500;
            text-transform: uppercase;
            color: #000;
            @media (max-width: 560px) {
                font-size: 1.1rem;
                width: 100px;
                margin-left: -40px;
            }
        }
        &.active {
            .step-line__box--dot {
                &:after {
                    content: '';
                    width: 7px;
                    height: 7px;
                    background-color: $mainGold;
                    display: block;
                    border-radius: 100%;
                    margin-left: 3px;
                    margin-top: 3px;
                }
            }
            .step-line__box--text {
                color: $mainGold;
            }
        }
    }
}

.cart {
    &__summary {
        margin-top: 60px;
        .icon_text_block {
            span {
                font-size: 1.6rem;
                font-weight: 400;
                color: #343434;
                margin-left: 10px;
            }
        }
        p {
            font-size: 1.6rem;
            font-weight: 400;
            color: #343434;
            margin-top: 10px;
        }
    }
    &__navigation {
        display: flex;
        justify-content: space-between;
        width: 100%;
        @media (max-width: 480px) {
            flex-direction: column;
            align-items: center;
        }
    }
}

.shipping {
    &__address {
        margin-top: 30px;
        padding: 20px 20px 40px 20px;
        margin-bottom: 90px;
        &--header {
            color: #343434;
            font-size: 2rem;
            font-weight: 400;
            margin-bottom: 25px;
        }
        &--change {
            color: #343434;
            font-size: 1.8rem;
            font-weight: 300;
            label {
                margin-bottom: 20px;
            }
        }
        &--text {
            p {
                color: #343434;
                font-size: 1.8rem;
                font-weight: 300;
            }
        }
    }
    &__delivery {
        &--header {
            margin-top: 70px;
        }
        &--choose {
            ul {
                li {
                    margin-top: 10px;
                    label {
                        padding-left: 35px;
                        display: inline-block;
                    }
                    span {
                        color: #343434;
                        font-size: 1.8rem;
                        font-weight: 300;
                        float: right;
                    }
                }
            }
        }
    }
    &__payment {
        display: flex;
        justify-content: space-between;
        &--box {
            width: 100%;
            max-width: 250px;
            margin: 10px auto;
            label {
                padding: 25px 50px;
                border: 1px solid #ececec;
                display: flex;
                flex-direction: column;
                align-items: center;
                transition: all 0.4s;
                .payu-icon {
                    max-width: 80px;
                }
                .transfer-icon {
                    max-width: 45px;
                }
                .checkmark {
                    position: absolute;
                    right: 10px;
                    top: 10px;
                    left: auto;
                }
                p {
                    text-align: center;
                }
                &:hover {
                    box-shadow: 0px 0px 25.11px 1.89px rgba(0, 0, 0, 0.05);
                    border: 1px solid #fff;
                }
            }
        }
    }
    &__option {
        display: flex;
        justify-content: space-between;
        border: 1px solid #ececec;
        padding: 20px;
        margin: 45px auto 45px auto;
        width: 100%;
        position: relative;
        div {
            margin: 10px 0px;
        }
        .carret {
            position: absolute;
            right: 20%;
            top: -6px;
            display: block;
            width: 10px;
            height: 6px;
            background-color: #fff;
            &:before {
                content: '';
                width: 12px;
                border-bottom: 1px solid #ececec;
                height: 1px;
                display: block;
                position: absolute;
                transform: rotate(60deg);
                margin-left: 2px;
            }
            &:after {
                content: '';
                width: 12px;
                border-bottom: 1px solid #ececec;
                height: 1px;
                display: block;
                position: absolute;
                transform: rotate(-60deg);
                margin-left: -4px;
            }
        }
        &--box {
            width: 100%;
            color: #343434;
            font-size: 1.8rem;
            font-weight: 300;
            padding: 15px 0px;
            text-align: center; //    border: 1px solid #ececec;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: all 0.4s; // &:hover {
            //     border: 1px solid $mainGold;
            // }
        }
    }
}

// cart checkbox
/* Customize the label (the container) */

.cart-checkbox {
    display: block;
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    color: #343434;
    font-size: 1.8rem;
    font-weight: 300;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */

.cart-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */

.cart-checkbox .checkmark {
    position: absolute;
    top: 3px;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: transparent;
    border: 1px solid #cecdcc;
    border-radius: 100%;
}

.cart-checkbox:hover input~.checkmark {
    border: 1px solid $mainGold;
}

.cart-checkbox input:checked~.checkmark {
    background-color: transparent;
    border: 1px solid $mainGold;
}

/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */

.cart-checkbox input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */

.cart-checkbox .checkmark:after {
    content: '';
    width: 7px;
    height: 7px;
    background-color: $mainGold;
    border-radius: 100%;
    margin-left: 3px;
    margin-top: 3px;
}

// cart-option checkbox
/* Customize the label (the container) */

.cart_option-checkbox {
    display: flex;
    position: relative;
    cursor: pointer;
    color: #343434;
    font-size: 1.8rem;
    font-weight: 300;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */

.cart_option-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */

.cart_option-checkbox .checkmark {
    position: absolute;
    background-color: transparent;
    border: 1px solid #cecdcc;
    width: 100%;
    height: 100%;
}

.cart_option-checkbox:hover input~.checkmark {
    border: 1px solid $mainGold;
}

.cart_option-checkbox input:checked~.checkmark {
    background-color: transparent;
    border: 1px solid $mainGold;
}

/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */

// .cart_option-checkbox input:checked~.checkmark:after {
//     display: block;
// }
// /* Style the checkmark/indicator */
// .cart_option-checkbox .checkmark:after {
//     content: '';
//     width: 7px;
//     height: 7px;
//     background-color: $mainGold;
//     border-radius: 100%;
//     margin-left: 3px;
//     margin-top: 3px;
// }
#form-change_address {
    display: none;
}

.checkout {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    &__half {
        flex-direction: row;
        display: flex;
        justify-content: space-between;
        width: 100%;
      
    } 
    @media (max-width: 768px) {
      flex-direction: column;
    }
    &__box {
        p {
            font-size: 2rem;
            color: rgb(52, 52, 52);
            line-height: 1.2;
            margin-bottom: 35px;
            margin-top: 0;
        }
        ul {
            li {
                font-size: 1.8rem;
                color: rgb(52, 52, 52);
                line-height: 1.778;
                font-weight: 300;
            }
        }
        &--line {
            border-left: 1px solid #cecdcc;
            margin: 0 10%;
        }
        &--info {
            ul {
                li {
                    font-size: 1.8rem;
                    color: rgb(52, 52, 52);
                    margin-bottom: 25px;
                    font-weight: 300;
                    line-height: unset;
                }
            }
            &:last-child {
                ul {
                    li {
                        text-align: right;
                        font-weight: 400;
                    }
                }
            }
        }
    }
}