@import 'variables';

@media (min-width: 576px) {
    .container {
        max-width: 560px;
    }
}  
@media (min-width: 768px) {
    .container {
        max-width: 740px;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 950px;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1054px;
    }
}
@media (min-width: 1367px) {
    .container {
        max-width: 1230px;
    }
}
@media (min-width: 1600px) {
    .container {
        max-width: 1470px;
    }
}

.bold-text-on-hover {
    &::after {
        display: block;
        content: attr(title);
        font-weight: bold;
        height: 0;
        overflow: hidden;
        visibility: hidden;
    }
}
.flex-columm {
    display: flex;
    flex-direction: column;
}
.icon_text_block { 
    display: flex;
    align-items: center;
    &.icon-w42 {
        img {
            width: 42px;
        }
    }
    &.icon-w17 {
        img {
            width: 17px;
        }
    }
    &.icon-w20 {
        img {
            width: 20px;
        }
    }
    &.icon-w10 {
        img {
            width: 10px;
        }
    }
    &.icon-w26 {
        img {
            width: 26px;
        }
    }
}
.modal {
    &__newsletter {
        .modal-dialog {
            max-width: 50%;
            .modal-content {
                border: none;
                border-radius: 0;
                padding: 40px 10%;
                .modal-header,
                .modal-footer {
                    border: none;
                    justify-content: center;   
                    padding: 0;                 
                }
                .modal-header {
                    .close {
                        margin: unset;
                        position: absolute;
                        right: 0;
                        top: 0;
                        opacity: 1;
                        span {
                            font-size: 2.4rem;
                            color: #343434;
                        }   
                    }
                }
                .modal-body {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    text-align: center;
                    h4 {
                        font-size: 2rem;
                        font-weight: 300;
                        color: #343434;
                        margin: 20px 0 10px;
                    }
                    h5 {
                        font-size: 1.8rem;
                        font-weight: 300;
                        color: #343434;
                    }
                    h4,h5 {
                        span {
                            font-weight: 500;
                        }
                    }
                    .form--group {
                        max-width: 100%;
                        margin-top: 50px;
                        input[type=email] {
                            padding: 10px;
                            max-width: 360px;
                            margin-bottom: 60px;
                        }
                        input[type=checkbox] {
                            margin-bottom: 0;
                            position: absolute;
                            left: 0;
                        //     top: 50%;
                        //    transform: translateY(-50%);
                        }
                        label {
                            font-size: 1.4rem;
                            text-align: left;
                            padding-left: 20px;
                            margin-bottom: 20px;
                            font-weight: 200;
                            a {
                                color: $mainGold;
                                font-weight: 300;
                                margin-left: 10px;
                            }
                        }
                    }
                }
                .button {
                    margin-top: 30px;
                    padding: 1rem 4rem;
                }
            }
        }
    }
    &__configurator {
        .modal-dialog {
            max-width: 60%;
            .modal-content {
                border: none;
                border-radius: 0;
                padding: 25px 50px;
                .modal-header,
                .modal-footer {
                    border: none;
                }
                .modal-header {
                    .close {
                        margin: unset;
                        position: absolute;
                        right: 0;
                        top: 0;
                        opacity: 1;
                        span {
                            font-size: 2.4rem;
                            color: #343434;
                        }   
                    }
                    .configurator-steps {
                        display: flex;
                        .configurator-step {
                            width: 180px;
                            height: 38px;
                            position: relative;
                            background: #ececec;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            z-index: 1;    
                            border: 1px solid #ececec;
                            border-right: none; 
                            span {
                                font-size: 2rem;
                                color: #000;
                            }                           
                            &:before {
                                content: "";
                                position: absolute;
                                right: -20px;
                                bottom: -1px;
                                width: 0;
                                height: 0;
                                border-left: 20px solid #ececec;
                                border-top: 19px solid transparent;
                                border-bottom: 19px solid transparent;
                            }
                            &.step1 {
                                z-index: 3;
                                &:before {
                                    content: "";
                                    position: absolute;
                                    right: -20px;
                                    bottom: 0;
                                    width: 0;
                                    height: 0;
                                    border-left: 20px solid #fff;
                                    border-top: 18px solid transparent;
                                    border-bottom: 18px solid transparent;
                                }
                            }
                            &.active {
                                background: #fff;                                
                                border: 1px solid #ececec;
                                &:before {
                                    color: #fff;
                                }
                                span {
                                    color: $mainGold;
                                }  
                            }
                        }                        
                    }
                }   
                .modal-body {
                    h4 {
                        font-size: 2rem;
                        font-weight: 400;
                        margin-bottom: 30px;
                        margin-top: 10px;
                    }
                    .colors {
                        max-height: 500px;
                        padding-right: 15px;
                        overflow-y: scroll;
                        // padding-right: 35px;
                        // overflow: auto;
                        h5 {
                            font-size: 2rem;
                            margin-bottom: 15px;
                            font-weight: 400;
                        }
                        .color-group {
                            padding-right: 35px;
                        }
                        .color-sample {
                            display: flex;
                            flex-direction: column;
                            margin: 15px;
                            min-width: 80px;
                            max-width: 80px;
                            padding-left: 0;
                            padding-right: 0;
                            img {
                                max-width: 100%;
                                // height: 100px;
                            }
                            span {
                                font-size: 1.4rem;
                                margin: 5px 0;
                                font-weight: 200;
                            }
                            &:hover {
                                cursor: pointer;
                                img {
                                    box-sizing: border-box;
                                    border: 2px solid $mainGold;
                                }
                            }
                        }
                    }
                    .selected-color {
                        display: flex;
                        flex-direction: column;
                        padding-left: 35px;
                        h5 {
                            font-size: 2rem;
                            margin-bottom: 15px;
                            font-weight: 400;
                        }
                        img {
                            margin: 10px 0 20px;
                            width: 100%;
                        }
                        span {
                            font-size: 1.8rem;
                            font-weight: 300;
                            &.price {
                                font-size: 2rem;
                                font-weight: 400;
                                align-self: flex-end;
                                margin-top: 10px;
                            }
                        }
                        .button {
                            margin-top: auto;
                            align-self: flex-end;
                            margin-top: 40px;
                        }
                    }
                }             
            }
        }
        &--step3 {
            .modal-dialog {
                .modal-content {
                    border: none;
                    border-radius: 0;
                    padding: 30px 40px;
                    .modal-header,
                    .modal-footer {
                        border: none;
                        padding: 0;
                    }
                    .modal-body {
                        .config-summary {
                            .summary-color {
                                display: flex;
                                align-items: flex-start;
                                div {
                                    margin-left: 23px;
                                    font-weight: 400;
                                    font-size: 1.8rem;
                                    span {
                                        display: block;
                                        font-weight: 300;
                                        margin-top: 15px;
                                    }
                                }
                                &:nth-child(2) {
                                    border-right: 1px solid #ebebeb;
                                }
                            }
                            .summary-price {
                                padding: 0 40px;
                            }
                            .product__price {
                                margin-top: -7px;
                            }
                            .product__order-buttons {
                                transform: translateY(60px);
                                margin-left: 0;
                                form {
                                    display: flex;
                                    flex-direction: column;
                                    width: 100%;
                                    max-width: 230px;
                                    border: 1px solid $mainGold;
                                    label {
                                        border-bottom: 1px solid $mainGold;
                                        text-align: center;
                                        width: 100%;
                                        font-size: 1.8rem;
                                        color: $mainGold;
                                        padding: 10px;
                                        font-weight: 300;
                                    }
                                    input, button {
                                        width: 90%;
                                        margin: 10px auto;
                                        height: 36px;
                                        font-size: 1.6rem;
                                        &::placeholder {
                                            font-size: 1.6rem;
                                            color: #a6a3a0;
                                        }
                                    }
                                    input {
                                        padding-left: 15px;
                                        font-weight: 200;
                                    }
                                    button {
                                        margin-top: 0;
                                        padding: 0;
                                    }
                                }
                                .button {
                                    max-width: 230px;
                                }
                            }                           
                        } 
                        .product__realization-info {
                            margin-bottom: 0;
                            border-bottom: none;
                        }
                    }
                }
            }
        }
    }
}
.simplebar-track.vertical {
    width: 15px;
    background-color: #fff;
    border-right: 1px solid #ebebeb;
}
.simplebar-scrollbar {
    &:before {
        background:#c39835;
    }
}
.cart-overlay {
    display: none;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: #000;
    opacity: 0.2;
    left: 0;
    top: 0;
}