@import 'css-reset';
@import 'variables';
@import 'global';
@import 'register.scss';
@import 'cart.scss';
@import 'other.scss';
html {
    font-size: 62.5%;
    @media (max-width: 576px) {
        font-size: 59%;
    }
}

body {
    background: #fff;
    font-family: 'Oswald', sans-serif;
    @media (max-width: 991px) {
        margin-top: 80px;
    }
}

.hamburger {
    display: none; //block;
    background-color: transparent;
    width: 20px;
    height: 20px;
    border: none;
    position: relative;
    @media (max-width: 991px) {
        display: block;
    }
    &:hover {
        cursor: pointer;
    }
    input {
        opacity: 0;
        &:checked {
            &~.line {
                transform: translate(-50%, -50%) rotate(45deg);
                top: 50%;
            }
            &~.line1 {
                transform: translate(-50%, -50%) rotate(45deg);
            }
            &~.line2 {
                transform: translate(-50%, -50%) rotate(-45deg);
                top: 50%;
            }
        }
    }
    .line {
        height: 2px;
        width: 100%;
        background-color: #000;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        transition: all ease 0.2s;
    }
    .line1 {
        height: 2px;
        width: 100%;
        background-color: #000;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        transition: all ease 0.2s;
    }
    .line2 {
        height: 2px;
        width: 100%;
        background-color: #000;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        transition: all ease 0.2s;
    }
}

.social-icons {
    svg {
        width: 23px;
        path,
        polygon {
            fill: $mainGold;
        }
    }
}

.header {
    box-shadow: 0px 0px 65px 0px rgba(52, 52, 52, 0.15);
    margin-bottom: 16px;
    &__top-section {
        position: relative;
        padding: 0 35px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #aeaeae;
        height: 120px;
        font-size: 1.8rem;
        .header__contact {
            display: flex;
            flex-direction: column;
            margin-right: 35px;
            @media (max-width: 768px) {
                display: none
            }
            a {
                color: #000;
                text-decoration: none;
                font-weight: 300;
                &:hover {
                    cursor: pointer;
                    font-weight: 400;
                }
            }
        }
        .header__login {
            text-align: center;
            margin-right: 35px;
            @media (max-width: 768px) {
                display: none
            }
            a {
                color: #000;
                text-decoration: none;
                font-weight: 300;
                &:hover {
                    cursor: pointer;
                    font-weight: 400;
                }
            }
        }
        .header__search-toggle {
            width: 28px;
            height: 28px;
            i {
                content: '';
                width: 100%;
                height: 100%;
                background-image: url(../../src/img/icons/magnifying-glass.svg);
            }
        }
        .quick-cart {
            &__container {
                display: none;
                position: absolute;
                top: 101%;
                right: 0;
                width: 25%;
                min-width: 300px;
                max-width: 100%;
                padding: 25px;
                z-index: 100;
                background: #fff;
                .button {
                    position: relative;
                    right: -15px;
                }        
            }
            &__header {
                margin-bottom: 25px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                span {
                    font-size: 2rem;
                    font-weight: 500;
                }
            }
            &__body {
                display: flex;
                flex-direction: column;
                padding: 0 15px;
            }
            &__item {
                padding: 15px 15px 15px 0;
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 1.8rem;
                font-weight: 400;
                border-bottom: 1px solid #ececec;
                position: relative;
                img {
                    max-height: 90px;
                }
                &__trash-container {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;    
                    padding-right: 20px;                
                    .trash-icon {
                        height: 17px;
                        width: 16px;
                    }
                }
                .item__price {
                    position: absolute;
                    bottom: 15px;
                    right: 15px;
                }              
            }
            &__summary {
                padding: 15px;
                margin-bottom: 40px;
                p {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    span {
                        margin-left: auto;
                    }
                }
            }    
        }
    }
    &__nav-section {
        display: flex;
        justify-content: center;
        height: 120px;
        .navbar {
            margin-left: auto;
            .navbar-nav {
                font-size: 1.8rem;
                font-weight: 200;
                .nav-item {
                    padding: 0 13px;
                    .nav-link {
                        color: #000;
                        &:hover {
                            span {
                                border-bottom: 3px solid $mainGold;
                            }
                        }
                    }
                    .dropdown-toggle {
                        &:after {
                            display: none;
                        }
                    }
                    .dropdown-menu {
                        border: none;
                        left: calc(13px + .5rem); // top: 1px;
                        border-radius: 0;
                        min-width: 16rem;
                        top: 102%;
                        .dropdown-item {
                            padding: .75rem 1.5rem;
                            font-size: 1.8rem;
                            font-weight: 200;
                        }
                    }
                }
            }
        }
        .social-icons {
            margin: 0 25px 0 auto;
            align-self: center;
        }
    }
    .logo {
        width: 150px; // height: 80px;
    }
    .header__cart {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        font-weight: 300;

        // @media (max-width: 768px) {
        //     display: none
        // }

        &:hover {
            span {
                font-weight: 400;
            }
        }

        .cart-icon {
            height: 25px;
            width: 30px;
            background-color: transparent;
            background-image: url(../../src/img/icons/cart.svg);
            background-repeat: no-repeat;
            background-size: cover;
            display: block;
            position: relative;

            .cart__quantity {
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                top: -5px;
                right: -5px;
                height: 20px;
                width: 20px;
                border: 2px solid #fff;
                border-radius: 50%;
                font-size: 1rem;
                color: #fff;
                background-color: $mainGold;
            }
        }
    }
    .browser-container {
        width: 40%;
        margin-left: auto;
        margin-right: 35px;
        position: relative;

        input {
            height: 44px;
            width: 100%;
            border: 1px solid #000;
            border-radius: 20px;
            padding: 0 50px 0 25px;

            &::placeholder {
                color: #000;
                font-weight: 300;
            }
        }

        .search {
            position: absolute;
            right: 20px;
            height: 28px;
            top: 50%;
            transform: translateY(-50%);
            width: 28px;
            border: none;
            cursor: pointer;
            vertical-align: middle;
            background-color: transparent;
            background-image: url(../../src/img/icons/magnifying-glass.svg);
            background-repeat: no-repeat;
        }
    }

    .mobile-navigation {
        display: none;
        @media (max-width: 991px) {
            display: block;
        }
        position: fixed;
        top: 0;
        left: 0;
        padding: 0;
        width: 100%;
        // height: 100%;
        z-index: 99;
        .navbar {
            height: 100%;
            width: 100%;
            transform: translateX(-100%);
            transition: .4s all;
            background: #fff;
            z-index: 99;
            padding: 15px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            font-size: 1.8rem;
            font-weight: 200;
            .account-buttons-section {
                display: flex;
                width: 100%;
                margin-bottom: 25px;
                .button {
                    color: #000;
                    padding: 1rem 2rem;
                    width: 48%;
                    margin: 0 auto;
                }
            }
            .navbar-nav {
                margin-left: 15px;
            }
            .nav-link {
                color: #000;  
                margin: 7px;  
            }
            .dropdown-menu {
                border: none;
                font-size: 1.8rem;
                padding-left: 20px;
                .dropdown-item {
                    font-weight: 200;
                    margin: 7px 0;
                }
            }
        }
        &.active {
            height: 100%;
            // background: #fff;
            .navbar {
                height: 100%;   
                transform: translateX(0);
                z-index: 99;
                // background: #fff;
            }
        }        
        &__top-section {
            height: 70px;
            display: flex;
            align-items: center;
            background-color: #f6f6f6;
            width: 100%;
            padding: 0 15px;
            .hamburger {
                margin: 0 10px;
            }
            .logo {
                width: 100px; // height: 80px;
                margin-right: auto;
            }
            .header__search-toggle {
                height: 25px;
                width: 25px;
                margin: 0 15px;
                cursor: pointer;
                transition: 1s all;
            }
            .header__cart {
                margin-left: auto;
                .cart__quantity {
                    border-color: #f6f6f6;
                }
                span {
                    display: none;
                }
            }
        }
        &__browser-container {
            display: flex;
            // height: 55px;
            height: 0;
            width: 100%;
            opacity: 0;
            align-items: center;
            justify-content: center;
            background-color: #f6f6f6;
            transition: 1s all;
            input {
                width: 90%;
                font-size: 1.6rem;
            }
            .search {
                height: 20px !important;
            }
        }
        &.search-visible {
            .mobile-navigation__browser-container {
                height: 55px;
                opacity: 1;
            }
            .header__search-toggle {
                width: 0;
                margin: 0 15px 0 0;
            }
        }
    }
    .header__top-section,
    .header__nav-section {
        @media (max-width: 991px) {
            display: none;
        }
    }
}

.button {
    font-size: 1.6rem;
    padding: 2rem 4.5rem;
    font-weight: 300;
    color: #d6d6d6;
    border: 1px solid #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s all;
    cursor: pointer;
    &:hover {
        text-decoration: none;
    }
    &__small {
        padding: 1.4rem 4.5rem;
        max-width: 220px;
        &--right {
            float: right;
            width: 100%;
        }
    }
    &.blue {
        background-color: #000b3a;
        color: #fff;
        &:hover {
            background-color: #fff;
            color: #000b3a;
            border: 1px solid #000b3a;
        }
    }
    &__grid {
        padding: 1.4rem 4.5rem;
        span {
            &:last-child {
                display: none;
            }
        }
        @media (max-width: 992px) {
            padding: 1.4rem 3.5rem;
        }
        @media (max-width: 767px) {
            padding: 1rem 1.5rem;
        }
        @media (max-width: 560px) {
            font-size: 1.2rem;
            span {
                &:first-child {
                    display: none;
                }
                &:last-child {
                    display: grid;
                }
            }
        }
        @media (max-width: 480px) {
            padding: 0.6rem 1rem;
        }
        @media (max-width: 420px) {
            padding: 0.6rem 0.3rem;
        }
    }
    &.gold-reverse {
        color: #fff;
        background-color: $mainGold;
        &:hover {
            color: $mainGold;
            background-color: transparent;
            border: 1px solid $mainGold;
        }
    }
    &.gold {
        color: $mainGold;
        border-color: $mainGold;
        background-color: transparent;
        svg {
            path {
                fill: $mainGold;
            }
        }
        &:hover {
            color: #fff;
            background-color: $mainGold;
            svg {
                path {
                    fill: #fff;
                }
            }
        }
    }
    &.white {
        color: #fff;
        border: 1px solid #fff;
        &:hover {
            background-color: #ffffff55;
        }
    }
    &.black {
        color: #000;
        border: 1px solid #000;
        &:hover {}
    }
    &.transparent {
        background-color: transparent;
    }
    &.gold-border {
        border: 1px solid $mainGold;
    }
    &.add-to-cart {
        padding: 1rem 2rem;
        display: flex;
        align-items: center;
        svg {
            width: 17px;
            height: 13px;
            margin-right: 10px;
        }
    }
}

.carousel {
    margin-bottom: 16px;
    .carousel-indicators {
        li {
            width: 14px;
            height: 14px;
            border-radius: 50%;
            border: 1px solid #fff;
            background-color: transparent;
            &.active {
                background-color: transparent;
                &:before {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    display: inline-block;
                    transform: translate(-50%, -50%);
                    width: 75%;
                    border-radius: 50%;
                    height: 75%;
                    content: "";
                    background-color: $mainGold;
                }
            }
        }
    }
}

.products-section {
    margin-bottom: 16px;
    .made-to-order {
        background-image: url(../../src/img/made-to-order__bg.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        position: relative;
        h1 {
            font-size: 4rem;
            color: $mainGold;
            font-weight: 200;
            text-align: center;
            margin-bottom: 60px;
            span {
                font-weight: 300;
            }
        }
        img {
            position: absolute;
            bottom: 2rem;
            right: -5rem;
            max-width: 110%;
            @media (max-width: 992px) {
                display: none;
            }
        }
        @media (max-width: 991px) {
            padding: 50px 0;
            background-size: cover
        }
    }
    .recommended-furnitures {
        padding: 0 0 30px 0;
        margin-top: 30px;
        text-align: center;
        border-top: 1px solid #d6d6d6;
        &__header {
            background: #fff;
            transform: translateY(-20px);
            padding: 0 50px;
        }
        .products:first-child {
            border-bottom: 1px solid #ececec;
        }
    }
}

.section-header {
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: 50px;
    display: inline-block;
    color: #616160;
    text-align: center;
    position: relative; // &:before,
    // &:after {
    //     content: '';
    //     position: absolute;
    //     top: 50%;
    //     width: 40%;
    //     // height: 1px;
    //     border-bottom: 1px solid #d6d6d6
    // }
}

.products {
    height: 330px;
    overflow: visible;
    @media (max-width: 576px) {
        height: unset;
    }
    .single-product {
        justify-content: center;
        align-items: center;
        text-align: center;
        border: none;
        padding: 1rem 0;
        height: 320px;
        position: relative;
        img {
            max-height: 200px;
            object-fit: contain;
        }
        .badges {
            display: flex;
            flex-direction: column;
            width: 35%;
            position: absolute;
            top: 5px;
            left: 0;
            span {
                margin-top: 10px;
                width: 100%;
                height: 17px;
                padding-left: 5px;
                background-size: contain;
                background-repeat: no-repeat;
                display: flex;
                align-items: center;
                text-transform: uppercase;
                color: #fff; // font-size: 1.2rem;
                font-size: 100%;
                font-weight: 300;
                &.sale {
                    background-image: url(../img/sale.png);
                }
                &.bestseller {
                    background-image: url(../img/bestseller.png);
                }
            }
        }
        .card-body {
            flex: unset;
            padding-bottom: 0;
        }
        &__name {
            font-weight: 500;
            font-size: 1.6rem;
            color: #000;
        }
        &__price {
            font-weight: 500;
            font-size: 1.6rem;
            color: #000;
        }
        &__dimensions {
            font-size: 1.3rem;
            font-weight: 300;
            margin: 1.5rem 0;
            color: #000;
            opacity: 0;
            visibility: hidden;
            display: none;
        }
        .button.add-to-cart {
            opacity: 0;
            visibility: hidden;
            display: none;
        }
        &:hover {
            height: 390px;
            box-shadow: 0px 0px 65px 0px rgba(52, 52, 52, 0.15);
            z-index: 10;
            .single-product__dimensions {
                opacity: 1;
                visibility: visible;
                display: block;
            }
            .button.add-to-cart {
                opacity: 1;
                visibility: visible;
                display: block;
            }
        }
    }
}

.we-guarantee {
    min-height: 350px;
    background-image: url(../img/guarantee-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 16px;
    .guarantees {
        display: flex;
        align-items: center;
        justify-content: space-around;
        .guarantee {
            width: 190px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .icon-bg {
                height: 110px;
                width: 110px;
                background-color: #000b3a;
                border-radius: 50%;
                margin-bottom: 45px;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    height: 75%;
                }
                @media (max-width: 576px) {
                    height: 90px;
                    width: 90px;
                }
            }
            &__name {
                font-size: 2.5rem;
                font-weight: 400;
            }
        }
    }
}

.categories {
    margin-bottom: 50px;
    .category {
        height: 300px;
        @media (max-width: 768px) {
            margin-bottom: 15px;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: grayscale(.9);
            transition: .3s all;
        }
        &-info {
            position: absolute;
            display: flex;
            flex-direction: column;
            top: 40%;
            left: 50%;
            transform: translate(-50%);
            text-align: center;
            h3 {
                font-size: 46px;
                font-weight: 400;
                color: #fff;
                margin-bottom: 30px;
            }
            a {
                opacity: 0;
                transition: .3s all;
            }
        }
        &:hover {
            img {
                filter: grayscale(0);
            }
            .category-info {
                a {
                    opacity: 1;
                }
            }
        }
    }
}

.inspirations {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #d6d6d6;
    .section-header {
        padding: 0 50px;
        transform: translateY(-20px);
        background: #fff;
        margin-bottom: 30px;
    }
    .row {
        align-items: center;
        justify-content: flex-start;
        .inspirations-title {
            font-size: 46px;
            color: #000;
            font-weight: 300;
            margin-bottom: 45px;
            span {
                font-weight: 400;
            }
        }
        p {
            font-size: 18px;
            font-weight: 300;
            margin-bottom: 70px;
        }
        img {
            max-width: 100%;
        }
        .button {
            max-width: 220px;
            @media (max-width: 768px) {
                margin-bottom: 20px;
            }
        }
    }
}

footer {
    border-top: 1px solid #d6d6d6;
    display: flex;
    flex-direction: column;
    font-size: 1.8rem;
    margin-top: 15px;
    &>.container {
        @media (max-width: 768px) {
            padding: 0;
        }
    }
    .logo {
        width: 150px;
        transform: translateY(-15px);
        @media (max-width: 768px) {
            transform: translateY(0);
        }
    }
    .footer-content.row {
        padding-top: 50px;
        justify-content: space-between;
        min-height: 230px;
        @media (max-width: 768px) {
            padding-top: 0;
        }
        &>div {
            @media (max-width: 768px) {
                padding: 20px !important;
                &:not(:first-child) {
                    border-top: 1px solid #d6d6d6;
                }
            }
        }
        .sign-in-to-newsletter {
            display: flex;
            flex-direction: column;
            p {
                margin-bottom: 25px;
                @media (max-width: 768px) {
                    margin-bottom: 0;
                }
            }
            .button {
                padding: 1rem 4rem;
            }
            @media (max-width: 768px) {
                flex-direction: row;
                align-items: flex-start;
                padding: 20px !important;
                justify-content: space-between;
            }
        }
        .footer-contact {
            display: flex;
            flex-direction: column;
            @media (max-width: 768px) {
                padding: 20px 30px 30px !important;
            }
            &>p {
                margin-bottom: 10px;
            }
            a {
                color: #000;
                text-decoration: none;
                font-weight: 300;
                &:hover {
                    cursor: pointer;
                    font-weight: 400;
                }
            }
            .address {
                display: flex;
                margin-top: 15px;
                font-size: 1.6rem;
                font-weight: 300;
                p {
                    line-height: 1.1;
                }
                .marker {
                    height: 31px;
                    margin: 0 15px 0 -4px;
                    path {
                        fill: $mainGold;
                    }
                }
                .social-icons {
                    margin-left: auto;
                    align-self: center;
                    svg {
                        width: 30px;
                        path,
                        polygon {
                            fill: $mainGold;
                        }
                    }
                }
            }
        }
    }
    .copyrights {
        font-size: 1.6rem;
        font-weight: 200;
        color: #fff;
        min-height: 40px;
        background-color: $mainGold;
        display: flex;
        align-items: center;
        @media (max-width: 768px) {
            min-height: 100px;
        }
        .row {
            height: 100%;
            justify-content: space-between;
            @media (max-width: 768px) {
                flex-direction: column;
                align-items: center;
                span {
                    margin: 5px 0;
                }
            }
            a {
                color: #fff;
                text-decoration: none;
                font-weight: 300;
                &:hover {
                    cursor: pointer;
                    font-weight: 400;
                }
            }
        }
    }
}

.jumbotron {
    height: 300px;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    &.chairs {
        background-image: url(../img/chairs-bg.jpg);
    }
    &.about {
        background-image: url(../img/about-bg.jpg);
    }
    &.custom-made {
        background-image: url(../img/custom-made-bg.jpg);
        position: relative;
        h1 {
            font-size: 4rem;
            font-weight: 500;
            color: #c39835;
            text-transform: unset;
            z-index: 2;
            span {
                font-weight: 300;
            }
        }
        img {
            position: absolute;
            bottom: -4rem;
            left: 5rem;
            z-index: 1;
            max-width: 100%;
            @media (max-width: 480px) {
                left: 0rem;
            }
        }
    }
    &.contact-map {
        background-image: url(../img/contact-map-bg.jpg);
        position: relative;
        z-index: -1;
    }
    h1 {
        font-size: 4rem;
        font-weight: 500;
        color: #fff;
        text-transform: uppercase;
    }
}

.filters {
    display: flex;
    align-items: center;
    min-height: 125px;
    margin-top: 45px;
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
    position: relative;
    @media (max-width: 576px) {
        flex-direction: column;
        justify-content: space-evenly;
    }
    &-header {
        font-size: 1.8rem;
        position: absolute;
        left: 0;
        top: -25px;
    }
    .filter {
        display: flex;
        @media (max-width: 576px) {
            transform: translatex(-15px);
        }
    }
    .pagination {
        @media (max-width: 576px) {
            margin: 0 auto;
        }
        margin-left: auto;
    }
    .slider-label {
        font-size: 1.8rem;
        color: #000;
        font-weight: 300;
        margin-right: 20px;
    }
}

.noUi-horizontal {
    height: 2px;
    border: none;
    background: #8f8f8f;
    box-shadow: none;
    &.slider-price {
        width: 220px;
    }
    .noUi-connect {
        background: $mainGold;
    }
    .noUi-handle {
        border-radius: 50%;
        width: 12px;
        height: 12px;
        top: -5px;
        right: -9px !important;
        background: $mainGold;
        border: none;
        box-shadow: inset -0.07px -1.999px 4px 0px rgba(0, 0, 0, 0.4);
        &:before,
        &:after {
            display: none
        }
        .noUi-tooltip {
            font-size: 1.6rem;
            color: #000; // outline: none;
            font-weight: 300;
            background: transparent;
            border: none;
            border-radius: 0;
            min-width: 50px;
            bottom: -30px !important;
        }
    }
}

.pagination {
    font-size: 14px;
    align-items: center;
    ul {
        padding: 0;
        list-style: none;
        li {
            display: inline-block;
            margin: 0 3px;
            padding: 4px 7px;
            a {
                color: #999999;
                font-weight: 200;
            }
        }
    }
    .active {
        background: $mainGold;
        a {
            color: #fff;
            font-weight: 400;
        }
    }
    .left {
        i {
            color: #353535;
        }
        margin-right: 20px;
    }
    .right {
        i {
            color: #353535;
        }
        margin-left: 20px;
    }
}

.bottom-pagination {
    height: 40px;
    margin-bottom: 60px;
    padding-top: 10px;
    .pagination {
        margin-left: auto;
    }
}

.breadcrumbs {
    ul {
        display: flex;
        li {
            a {
                font-size: 1.8rem;
                color: #343434;
                font-weight: 200;
                &:hover {
                    text-decoration: none;
                    font-weight: 300;
                }
            }
            &:not(:last-child) {
                a {
                    &:after {
                        content: '/';
                        margin: 0 3px;
                    }
                }
            }
        }
    }
}

.row.products {
    .single-product {
        max-width: 280px;
    }
}

.category {
    .row.products {
        border-bottom: 1px solid #ececec;
        @media (max-width: 991px) {
            height: unset;
        }
    }
}

.fa-star {
    &.checked {
        color: #e9ce62;
    }
}

.product {
    &--slider {
        &__main {
            min-height: 540px;
            display: flex;
            .slick-track {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .slick-list {
                .slick-slide {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
        &__nav {
            max-height: 130px;
            display: flex;
            .slick-list {
                max-height: 100%;
                .slick-track {
                    height: 100%;
                    .slick-slide {
                        height: 100%;
                        img {
                            max-width: 100%;
                            max-height: 100%;
                            object-fit: contain;
                            margin: 0 auto;
                        }
                    }
                }
            }
        }
    }
    &__details {
        display: flex;
        flex-direction: column;
        padding-right: 30px;
        margin-bottom: 50px;
    }
    &__header {
        font-size: 4rem;
        font-weight: 600;
        margin-bottom: 20px;
    }
    &__star-rating {
        margin-bottom: 35px;
        font-size: 14px;
        .fa-star {
            &.checked {
                color: #e9ce62;
            }
        }
        a {
            text-decoration: none;
            span {
                color: #000;
            }
            &:hover {
                span {
                    font-weight: 500;
                }
            }
        }
    }
    &__opinions {
        margin-left: 10px;
    }
    &__order-section {
        display: flex;
    }
    &__price {
        font-size: 1.8rem;
        font-weight: 300;
        line-height: 3rem;
        span {
            font-size: 3rem;
            font-weight: 600;
        }
    }
    &__quantity {
        font-size: 16px;
        margin-left: auto;
        .change-quantity {
            color: #d1d0cf;
            font-weight: 200;
            cursor: pointer;
            &#increase-quantity {
                transform: translateY(-1px);
            }
        }
        input {
            margin: 0 7px;
            width: 52px;
            height: 52px;
            border: 1px solid #d1d0cf;
            text-align: center;
        }
    }
    &__order-buttons {
        margin-left: 15px;
        .add-to-cart {
            height: 52px;
            margin-bottom: 10px;
        }
        .phone-order {
            height: 36px;
        }
    }
    &__configurator {
        width: 100%;
        box-shadow: 0px 0px 65px 0px rgba(52, 52, 52, 0.15);
        .recommended-configuration,
        .custom-configuration {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 20px 30px 20px;
            height: 130px;
            span {
                align-self: flex-start;
                font-size: 16px;
            }
            .price {
                font-size: 1.6rem;
                span {
                    font-size: 20px;
                    font-weight: 600;
                }
            }
            .button {
                height: 38px;
            }
            .flex-columm {
                align-items: flex-start;
                height: 100%;
                img {
                    margin-top: auto;
                }
            }
        }
        .recommended-configuration {
            border-bottom: 1px solid #ececec;
        }
    }
    &__dimensions {
        display: flex;
        height: 180px;
        border-bottom: 3px solid #ececec;
        .dimension {
            display: flex;
            align-items: center;
            width: 33.333%;
            div {
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 1.4;
                span {
                    font-weight: 300;
                }
            }
            img {
                width: 56px;
                margin-right: 20px;
            }
        }
    }
    &__realization-info {
        display: flex;
        align-items: center;
        border-bottom: 3px solid #ececec;
        margin-bottom: 45px;
        .row {
            margin: 25px 0;
            .icon_text_block {
                font-size: 1.6rem;
                font-weight: 400;
                img {
                    margin-right: 15px;
                }
            }
        }
    }
    &__info-tabs {
        margin-bottom: 100px;
        .nav-tabs {
            width: 100%;
            .nav-item {
                margin-bottom: 0;
                margin-bottom: 10px;
                &:not(:first-child) {
                    padding-left: 100px;
                }
                .nav-link {
                    font-size: 2rem;
                    font-weight: 300;
                    text-transform: uppercase;
                    color: #343434;
                    border: none;
                    padding-left: 0;
                    padding-right: 0;
                    &:hover {
                        font-weight: 400;
                    }
                    &.active {
                        font-weight: 500;
                    }
                }
            }
        }
        .tab-content {
            width: 100%;
            .product-description {
                padding: 60px 20px;
                p {
                    font-size: 1.8rem;
                    font-weight: 300;
                    color: #4f4f4f;
                    line-height: 1.2;
                    width: 75%;
                    @media (max-width: 991px) {
                        width: 100%;
                    }
                }
            }
            .opinions {
                padding: 35px 0;
                .summary-rating {
                    margin-bottom: 60px;
                    &>span {
                        font-size: 1.8rem;
                        font-weight: 400;
                        color: #4f4f4f;
                        margin-right: 20px;
                    }
                    .product__star-rating {
                        display: inline;
                    }
                }
                .form__opinion {
                    margin-left: 50px;
                    padding-top: 30px;
                    .row {
                        flex-direction: column;
                        h3 {
                            font-size: 1.8rem;
                            margin-bottom: 20px;
                        }
                        .form--group {
                            width: 480px;
                            max-width: 100%;
                            input,
                            textarea {
                                width: 100%;
                                &::placeholder {
                                    color: #a6a3a0;
                                    font-weight: 100;
                                }
                            }
                        }
                        .rating {
                            display: flex;
                            flex-direction: column;
                            font-size: 1.4rem;
                            span {
                                margin-top: 10px;
                            }
                        }
                        .button {
                            width: 215px;
                            margin-left: auto;
                        }
                    }
                }
            }
        }
    }
    &__opinions-list {
        display: flex;
        flex-direction: column;
    }
    &__single-opinion {
        border-bottom: 1px solid #ececec;
        padding: 15px 0;
        &__author {
            font-size: 1.6rem;
            font-weight: 400;
            color: #343434;
            margin-right: 20px;
        }
        &__date {
            font-size: 1.4rem;
            font-weight: 300;
            color: #b7b7b7;
        }
        &__content {
            font-size: 1.6rem;
            color: #343434;
            margin: 15px 0;
            font-weight: 300;
        }
        .rating {
            margin-bottom: 0;
            &>span {
                font-size: 1.6rem;
                margin-right: 20px;
                font-weight: 300;
            }
        }
        &__rating {
            .fa-star {
                font-size: 1.4rem;
            }
            display: inline-block;
            transform: translateY(-2px);
        }
    }
}

.related-products {
    margin-bottom: 90px;
    text-align: center;
    border-top: 1px solid #ececec;
    .section-header {
        background: #fff;
        transform: translateY(-20px);
        padding: 0 50px;
    }
}

@media (max-width: 768px) {
    .navbar-collapse {
        position: absolute;
        top: 54px;
        left: 1%;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        width: 100%;
        transition: all 0.3s ease-in;
    }
    .navbar-collapse.collapsing {
        height: auto !important;
        transition: all 0.2s ease;
        left: 100%;
    }
    .navbar-collapse.show {
        left: 0;
    }
}