
.register-section {
    margin-top: 65px;

    &__header {
        border-bottom: 1px solid #ececec;
        padding-bottom: 25px;

        h2 {
            font-size: 1.8rem;
            color: #343434;
            line-height: 1.2;
            margin-left: 10px;
        }
    }

    &__container {
        width: 100%;
        border: 1px solid #ececec;
        margin-top: 35px;
        margin-bottom: 70px;

        &--legend {
            display: none;
            margin-top: 20px;

            @media (max-width: 560px) {
                display: block;
            }

            ul {
                li {
                    margin-top: 5px;

                    span {
                        &:first-child {
                            width: 10px;
                            height: 10px;
                            border: 1px solid;
                            border-radius: 100%;
                            display: inline-block;

                            &.production {
                                border-color: #ff8b2d;
                            }

                            &.send {
                                border-color: #3ba407;
                            }
                        }

                        &:last-child {
                            font-size: 1.4rem;
                            font-weight: 300;
                        }
                    }
                }
            }
        }

        &--pills {
            margin-top: 14px;
        }

        &--box {
            padding: 50px 140px 50px 140px;

            @media (max-width: 1680px) {
                padding: 50px 90px 50px 90px;
            }

            @media (max-width: 1366px) {
                padding: 50px 70px 50px 70px;
            }

            @media (max-width: 1024px) {
                padding: 40px 60px 40px 60px;
            }

            @media (max-width: 767px) {
                padding: 30px 40px 30px 40px;
            }

            @media (max-width: 560px) {
                padding: 20px;
            }

            h2 {
                font-size: 3rem;
                color: #343434;
                font-weight: 500;
                line-height: 1.2;

                @media (max-width: 840px) {
                    text-align: center;
                }

                @media (max-width: 480px) {
                    font-size: 2.5rem;
                }
            }

            h3 {
                font-size: 2rem;
                color: #343434;
                font-weight: 400;
                line-height: 1.2;
            }

            p {
                font-size: 1.6rem;
                color: #343434;
                font-weight: 400;
                line-height: 1.2;
                margin-top: 15px;

                span {
                    font-weight: 300;
                }
            }

            &--spacing {
                margin: 45px 0;

                @media (max-width: 840px) {
                    margin: 25px 0;
                }
            }

            &--link {
                display: inline-flex;
                margin-top: 50px;
            }

            .logo {
                width: 150px;
            }
        }

        &--border-left {
            &:after {
                content: '';
                border-left: 1px solid #ececec;
                height: calc(100% - 100px);
                width: 1px;
                display: block;
                top: 50px;
                position: absolute;
            }
        }
    }

    .tab-content {
        width: 100%;
    }

    .nav-pills {
        width: 100%;
        margin-top: 45px;
        z-index: 2;

        li {
            a {
                font-size: 1.8rem;
                color: #343434;
                padding: 10px 50px;
                background-color: #ebebeb;
                transition: 0.4s all;
                text-decoration: none;
                border: 1px solid #ececec;
                border-bottom: none;

                @media (max-width: 767px) {
                    padding: 10px 30px;
                }

                @media (max-width: 480px) {
                    padding: 10px 20px;
                    font-size: 1.6rem;
                }

                &.active {
                    border-bottom: none;
                    color: $mainGold;
                    background-color: #fff;
                }
            }
        }
    }

    &__grid {
        margin-top: 80px;
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
        grid-template-rows: 50px 100px 100px;

        &--detailed {
            grid-template-columns: 30% 10% 20% 20% 20%; //grid-template-rows: 50px 100px 100px;
        }
      

        @media (max-width: 767px) {
            grid-template-rows: 50px 70px 70px;
        }

        @media (max-width: 560px) {
            grid-template-rows: 30px 50px 50px;
        }

        @media (max-width: 420px) {
            grid-template-rows: 50px 50px 50px;
        }
        &--cart {
            grid-template-columns: 25% 20% 15% 15% 15% 10%;
            @media (max-width: 560px) {
                grid-template-rows: 30px 65px 65px;
            }
        }
        
        .item {
            color: #343434;
            font-size: 1.8rem;
            font-weight: 300;
            border-bottom: 1px solid #cecdcc;
            display: grid;
            align-items: center;
            justify-items: center;
            text-align: center;

            @media (max-width: 767px) {
                font-size: 1.4rem;
            }

            @media (max-width: 560px) {
                font-size: 1.2rem;
            }

            &--production {
                color: #ff8b2d;

                span {
                    border-color: #ff8b2d;
                }
            }

            &--send {
                color: #3ba407;

                span {
                    border-color: #3ba407;
                }
            }
            &--discount {
                span {
                    text-decoration: line-through;
                    font-size: 1.6rem;
                    display: block;
                    margin-bottom: 5px;
                    @media (max-width: 767px) {
                        font-size: 1.4rem;
                    }
        
                    @media (max-width: 560px) {
                        font-size: 1.2rem;
                    }
                }
                &--bold {
                    font-weight: 500;
                }
            }
        }

        .item-image {
            &__box {
                display: grid;
                width: 100%;
                grid-template-columns: 60px auto;
                align-items: center;
                text-align: left;
                @media (max-width: 560px) {
                    grid-template-columns: 40px auto;
                }
            }

            img {
                width: 100%;
                max-height: 90px;
                object-fit: contain;
                padding: 10px 0;

                @media (max-width: 767px) {
                    max-height: 70px;
                }

                @media (max-width: 560px) {
                    max-height: 50px;
                }
            }

            &__text {
                span {
                    font-weight: 400;
                    margin-bottom: 10px;
                }

                p {
                    margin: 0;
                    padding: 5px 0;
                    text-align: left;
                    font-weight: 300;
                    width: 100%;

                    @media (max-width: 767px) {
                        display: none;
                    }
                }
            }
        }

        .item-price {
            font-weight: 400;
        }

        .item-a {
            justify-content: flex-start;
        }
        .item-b {
           min-height: 90px;
           border-bottom: none;
        }
        .item-stat {
            span {
                &:last-child {
                    display: none;
                    width: 10px;
                    height: 10px;
                    border: 1px solid;
                    border-radius: 100%;
                }

                @media (max-width: 560px) {
                    &:first-child {
                        display: none;
                    }

                    &:last-child {
                        display: grid;
                    }
                }
            }
        }
    }
    &__summary {
        &--detailed {
            border-bottom: 1px solid #cecdcc;
            margin-top: 60px;
            padding: 20px 20px 40px 20px;
            ul {
                li {
                    p {
                        display: inline-block;
                        font-weight: 400;
                        color: #000;
                        font-size: 1.6rem;
                       
                        &:last-child {
                            float: right;
                            font-weight: 500;
                        }
                        @media (max-width: 767px) {
                            font-size: 1.4rem;
                        }
                    }
                }
            }
            @media (max-width: 767px) {
                margin-top: 40px;
            }
        }
        &--all {
            padding: 20px 20px 40px 20px;
            ul {
                li {
                    p {
                        display: inline-block;
                        font-weight: 400;
                        color: #000;
                        font-size: 3rem;
                        margin: 0;
                        line-height: 1;
                        @media (max-width: 767px) {
                            font-size: 2.4rem;
                        }
                        @media (max-width: 560px) {
                            font-size: 2rem;
                        }
                        @media (max-width: 480px) {
                            font-size: 1.6rem;
                        }
                        &:last-child {
                            float: right;
                            font-weight: 500;
                        }
                        span {
                            font-size: 1.8rem;
                        }
                    }
                }
            }
            &--cart {
                ul {
                    li {
                        p {
                            font-size: 2rem;
                        }
                    }
                }
            }
        }
    }
}

.form {

    &--group {
        max-width: 360px;

        @media (max-width: 767px) {
            max-width: 100%;
        }

        input,
        textarea {
            border-radius: 0px;
            padding: 15px;
            font-size: 1.6rem;
            color: #a6a3a0;
            font-weight: 300;
            border: 1px solid #cecdcc;
            width: 100%;
            transition: 0.4s all;
            margin-bottom: 20px;
            outline: none;

            &:hover,
            &:focus {
                border: 1px solid $mainGold;
            }

            &:last-child {
                margin-bottom: 0px;
            }

            &.error {
                border: 1px solid $red;
            }
        }

        textarea {
            height: 250px;
            resize: none;
        }
    }
    &__custom-made {
        &--group {
            max-width: 100%;
        }
        &--contact {
            margin-bottom: 20px;
        }
        button {
            float: right;
        }
    }
    &__login {
        margin-top: 30px;

        h3 {
            margin-bottom: 24px;
            margin-top: 40px;
        }

        &--lost-password {
            color: $mainGold;
            font-size: 1.4rem;
            font-weight: 400;
            margin-top: 8px;
            display: block;
            margin-bottom: 20px;

            &:hover {
                color: $mainGold;
                text-decoration: none;
            }
        }

        button {
            margin-top: 15px;
        }
    }

    &__acceptable {
        font-size: 1.4rem;
        color: #343434;
        font-weight: 300;
        margin-bottom: 35px;
        margin-top: 80px;
        max-width: 360px;
        line-height: 1.2; // text-indent: -25px;

        input {
            margin-right: 10px;
        }

        a {
            color: #343434;
            text-decoration: underline;
        }
    }
}

.error-login {
    display: none;
    color: $red;
    font-size: 1.4rem;
    font-weight: 400;
    transition: 0.4s all;
    margin: 10px 0px;

    &.active {
        display: block;
    }
}

// custom checkbox
/* Customize the label (the container) */
.defauly-checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.defauly-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: transparent;
    border: 1px solid #cecdcc;
}

/* On mouse-over, add a grey background color */
.defauly-checkbox:hover input~.checkmark {
    background-color: $mainGold;
}

/* When the checkbox is checked, add a blue background */
.defauly-checkbox input:checked~.checkmark {
    background-color: $mainGold;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.defauly-checkbox input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.defauly-checkbox .checkmark:after {
    background-image: url('../img/icons/checked.png');
    left: 1px;
    top: 3px;
    width: 12px;
    height: 9px;
}

