@import "./reset";

// Fonts
@import url('https://fonts.googleapis.com/css?family=Faustina');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:700');

// General
html {
  font-size: 18px;
}
body {
  font-family: 'Faustina', serif;
}
.section {
  position: relative;
  overflow: hidden;
}
.container {
  height: 100%;
  width: 1260px;
  margin: 0 auto;

  @media(max-width: 1300px){
    width: 100%;
  }
}
.social {
  margin: 0 11px;

  img {
    width: 21px;
    height: 21px;
  }
}
h1, .offer__box--description h3 {
  font-family: 'Playfair Display', serif;
  line-height: 0.9;
  font-weight: bold;
}
h2, h3, h4, h5, h6, p, a, span {
  font-family: 'Faustina', serif !important;
  line-height: 1.2;
}
h1 {
  font-size: 3.8rem;

  @media(max-width: 991px){
    font-size: 2.3rem;
  }
  @media(max-width: 480px){
    font-size: 2rem;
  }
}
h2 {
  font-size: 2.1rem;

  @media(max-width: 480px){
    font-size: 1.8rem;
  }
}
h4 {
  font-size: 1.6rem;
}
p, a {
  font-size: 1rem;
}
hr {
  background-color: black;
}
h2.section__title {
  margin: 1rem 0 1rem -1030px;

  @media(max-width: 768px){
      margin-left: -980px;
  }

  &:before {
    display: inline-block;
    content: "";
    border-top: 1px solid black;
    margin: -0.5rem 1rem -0.5rem 0;
    width: 1000px;
    -webkit-transform: translateY(-1rem);
        -ms-transform: translateY(-1rem);
            transform: translateY(-1rem);
  }
}
.more {
  z-index: 3;
  line-height: 2;
}
.no-gutter>[class*='col'] {
    padding-right: 0;
    padding-left: 0;
}

// Navigation
.navbar {
  & > div {
    @media(max-width: 991px){
      margin-top: -60px;
    }
  }
  .navbar-brand {
    margin-right: 0;
  }
  .navbar-nav {
    // width: 80%;
    width: 70%;

    @media(max-width: 1366px){
      width: 60%;
    }
  }
  .nav__language {
    color: rgba(0, 0, 0, 0.5);

    a {
     display: inline-block;
     padding: .5rem 0;

     &:hover {
       color: rgba(0, 0, 0, 0.7);
     }
   }
  }
  .nav__social {
    // width: 10%;
    width: 15%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    @media(max-width: 1366px){
      width: 20%;
    }
    span {
      margin-right: 10px;
      color: rgba(0,0,0,.5);
    }
  }
  li {
    padding: 10px 27px;

    @media(max-width: 1360px){
        padding: 10px 20px;
    }
    @media(max-width: 1200px){
        padding: 10px 7px;
    }
    @media(max-width: 1024px){
        // padding: 10px 10px;
          padding: 10px 5px;
    }
    @media(max-width: 991px){
        // padding: 5px 10px;
          padding: 5px 5px;
    }
  }
  .nav__other {
    ul li {
      display: block;
      padding: .5rem 1rem;
    }
  }
}
svg:hover path {
  fill: black;
  transition: all .4s ease-in-out;
}

// All buttons hover
.nav-link:hover:after, .nav__language a:hover:after, a.more:hover:after, #contact form input[type="submit"] {
  content: "";
  display: block;
  width: 100%;
  border-bottom: 1px solid gray;
  transform: transition all .4s ease-in-out;
  margin-bottom: -9px;
  padding-top: 8px;
}
#intro a.more:hover:after {
  width: 125px;
  border-bottom: 1px solid white;
}
#sale a.more {
  margin-bottom: 4px;
  display: block;
  border-width: 0;

  &:hover:after {
      width: 125px;
      border-bottom: none;
      border-top: 1px solid black;
  }
}
#contact form input[type="submit"] {
  display: inline-block;
  width: auto;
  padding-bottom: 8px;

  &:hover {
    border-bottom: 1px solid black;
    padding-bottom: 7px;
  }
}

//Content
#intro {
  background-color: white;
  height: 100vh;

  @media(max-width: 1024px){
    padding-top: 50px;
    height: 110vh;
  }
  .intro__title {
    color: white;
    padding-top: 35%;
    padding-bottom: 20%;

    @media(max-width: 991px){
        // padding-top: 73%;
        padding-top: 60vh;
        padding-bottom: 0;
    }
    @media(max-width: 991px) and (orientation: landscape){
        padding-top: 40vh;
    }
  }
  #intro__slider, .carousel-inner, .carousel-item {
    height: 100%;
  }
  .carousel-item {
    background-size: cover;

    @media(max-width: 991px){
         background-position: center;
    }
    .intro__bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;

      img {
        object-fit: cover;
        object-position: top;
        width: 100%;
        height: 100%;
      }
    }
  }
}

#offer {
  background-color: white;
  min-height: 50vh;
  margin: 100px 0 0;

  @media(max-width: 768px){
    margin-top: 0;
  }

  .offer__box {
    @media(max-width: 1200px){
      height: 450px;
    }
    @media(max-width: 991px){
      height: 300px;
    }
    @media(max-width: 768px){
      height: auto;
    }
  }
  .offer__box--top {
    @media(max-width: 1200px){
      margin-top: 100px;
    }
    @media(max-width: 991px){
      margin-top: 220px;
    }
    @media(max-width: 768px){
      margin-top: 0;
    }
  }
  .offer__box > div {
    position: relative;
    padding: 5px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover;
      -o-object-position: 60%;
         object-position: 60%;
      -webkit-filter: brightness(88%); /* Safari 6.0 - 9.0 */
      filter: brightness(88%);

      @media(max-width: 991px){
        height: 100%;
      }
    }
    .offer__box1, &.offer__box2 {
      -ms-flex-item-align: end;
          align-self: flex-end;

    }
    .offer__box2, &.offer__box3 {
      height: 80%;
    }
    // Description
    .offer__box--description {
      position: absolute;
      left: 0;
      top: 0;
      padding: 10% 0 20px 10%;
      border-bottom: 1px solid white;
      opacity: 1;
      -webkit-transition: opacity 0.2s ease-in;
      -o-transition: opacity 0.3s ease-in;
      transition: opacity 0.3s ease-in;
      color: white;

      @media(max-width: 768px){
        padding: 10% 0 10px 5%;
      }
      h3 {
        font-size: 2.1rem;
        padding-bottom: 6px;
      }
      p {
        font-size: 1.5rem;

        @media(max-width: 1200px){
          font-size: 1.3rem;
        }
        @media(max-width: 991px){
          font-size: 1.05rem;
        }
      }
    }
    &:first-child {
      @media(min-width: 768px){
        .offer__box--description {
          top: auto;
          bottom: 10%;
        }
      }
    }
    // Hover description
    .offer__box--hover {
      position: absolute;
      padding: 30px;
      height: calc(100% - 10px);
      width: calc(100% - 10px);
      background-color: rgba(255,255,255,.85);
      opacity: 0;
      -webkit-transition: opacity 0.2s ease-in;
      -o-transition: opacity 0.3s ease-in;
      transition: opacity 0.3s ease-in;
      cursor: pointer;
      text-align: center;

      & > a {
        padding: 30px;
        height: 100%;
        width: 100%;
        border: 1px solid black;
        display: flex;
        align-items: center;

        @media(max-width: 991px){
          padding: 0;
          border: none;
        }

        & > div {
          width: 100%;
        }
      }

      h4, p {
        margin-bottom: 15px;

        @media(max-width: 991px){
          margin-bottom: 5px;
        }
        @media(max-width: 768px){
          margin-bottom: 15px;
        }
        @media(max-width: 360px){
          margin-bottom: 5px;
        }
      }
    }
    &:hover {
        .offer__box--hover {
          opacity: 1;
        }
        .offer__box--description {
          opacity: 0;
        }
    }
  }
  h2.section__title {
    margin-top: 1rem;
    margin-bottom: 1rem;

    @media(max-width: 1024px){
        margin-top: 3rem;
    }

    &.section__title--sale {
      margin-top: -3rem;
      margin-bottom: 3rem;

      @media(max-width: 1024px){
        margin-top: 1rem;
        margin-bottom: 1rem;
      }
    }
  }
}

#sale {
  .section__title {
      margin-top: 0;
      margin-bottom: 3rem;

      @media(max-width: 767px){
          margin-top: 1rem;
          margin-bottom: 1rem;
      }
  }
  .row, .row > div, #sale__slider {
    height: 100%;
  }
  #sale__slider {
    background-color: #f1f1f1;
    text-shadow: 0 0 5px #f2f2f2;
  }
  .leaf3 {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    max-height: 100%;

    @media(max-width: 768px){
      width: 50%;
      z-index: 6;
    }
  }
  .under {
    z-index: -1;
  }
  .sale__box--img img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
  .sale__box--text {
    padding-left: 100px;

    @media(max-width: 992px){
      padding-left: 50px;
    }
  }
}

#about {
  padding-bottom: 100px;

  .section__title {
      margin-top: 110px;
  }
  .row > div {
    margin: 30px 0 30px 0;

    h2, h3, p {
      padding-left: 30px;

      @media(max-width: 991px){
        padding-left: 0;
      }
    }
    p {
      margin-top: 30px;
    }
    h3, a {
      font-size: 1.5rem;
    }
    hr {
      width: 60%;
      margin: 30px 40% 0 0;

      @media(max-width: 768px){
        margin: 30px 20% 0 20%;
      }
    }
    .about__icon {
      width: auto;
      height: 105px;
      margin: 30px 0 30px 30px;

      @media(max-width: 991px){
        margin: 30px;
      }
    }
  }
}

#contact {
  .section__title {
    margin-bottom: 110px;

    span {
      float: right;

      @media(max-width: 480px){
        display: block;
      }

      span, a {
        margin-left: 20px;
        display: inline-block;
      }
      img, svg {
        vertical-align: middle;
      }
    }
    svg .st0 {
      fill: rgba(0,0,0,.5);
    }
    svg:hover .st0 {
      fill: rgba(0,0,0,.7);
    }
  }
  form {
    border: 2px solid black;
    padding: 50px 10%;

    & > a {
      display: block;

    }

    @media(max-width: 991px){
      padding: 50px 5%;
    }
    & > * {
      display: inline-block;

      @media(max-width: 768px){
        display: block;
        margin: 0 auto;
      }
    }
    input {
      border: none;
      border-bottom: 1px solid black;
      margin: 0 20px;
      background: none;
      width: 50%;

      @media(max-width: 768px){
        margin: 20px auto;
      }
    }
    input[type="submit"] {
      background: none;
      border: none;
      cursor: pointer;
    }
  }
  .contact__gallery {
    height: auto;
    background-color: #fafafa;
    padding-top: 100px;

    .gallery_item {
      width: 20%;

      @media(max-width: 768px){
          width: 50%;
      }
    }
    .gallery__instagram {
      display: flex;
      width: 100%;
      height: 100%;
      align-items: center;

      img {
        margin: 0 auto;
      }
    }
    img {
      height: 100%;
      object-fit: cover;
      padding: 0;
    }
    div:first-child {
      border: 2px solid black;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      padding: 0;

      @media(max-width: 768px){
        display: none;
      }

        img {
          width: 50%;
          height: auto;
        }
    }
  }
}

footer {
  background-color: #fafafa;
  padding: 100px 0 20px;

  @media(max-width: 992px){
    padding: 30px 0 20px;
  }

  p, span, a {
    font-size: 0.9rem;
  }
  a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: inherit;
  }
  span:first-child {
    margin-right: 30px;
  }

  .footer__top {
    padding: 0 0 15px 0;

    a {
      color: inherit;
      display: inline;
    }
  }
  .footer__bottom {
    border-top: 2px solid #cdcdcd;
    padding: 20px 0 0 0;
    color: #7d7d7d;
  }
  .row > div {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin: 15px 0;
  }
  .footer__logo--interactive {
    height: 21px;
    width: 94px;
  }
}

// Slider
#sale__slider, #intro__slider {
  z-index: 5;

  .prev, .next {
    cursor: pointer;
    z-index: 3;
    padding: 0;
  }
}
.slider--navigation {
  margin-top: 50px;
}
.slider--controls {
  width: 30px;

  .carousel-control-next, .carousel-control-prev {
    width: 20%;
  }
}
.slider--indicators {
  .carousel-indicators {
    justify-content: flex-start;

    @media(max-width: 768px){
      bottom: -20%;
    }

    li {
      margin-left: 0;
      margin-right: 0;
      background-color: #c9c9c9;
      height: 2px;
      width: 50px;
      font-family: 'Faustina', serif;

      &.active {
        background-color: rgba(112, 179, 54,.5);
        // text-indent: 8px;
      }

      span {
        position: absolute;
        top: -40px;

        @media(max-width: 768px){
          top: -25px;
        }
      }
    }
  }
}
#intro__slider {
  .slider--navigation {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 18%;
    width: 100%;

    @media(max-width: 991px){
      bottom: -10%;
    }
    .carousel-indicators {
      margin-left: 15px;
      top: 0;

      span {
        color: white;
      }
    }
  }
}
#sale__slider {
  .slider--navigation {
  @media(max-width: 992px){
    margin-top: 30px;
    margin-bottom: 100px;
  }

    .slider--indicators {
      .carousel-indicators {
        margin-left: 100px;
        bottom: -20%;

        @media(max-width: 992px){
          margin-left: 50px;
        }
        @media(max-width: 992px){
          bottom: 10%;
        }
      }
    }
  }
}
