.about {
    margin: 65px 0px;

    &__image {
        width: 100%;
        display: flex;
        justify-content: center;
        height: 100%;
        align-items: center;

        img {
            width: 100%;
            @media (max-width: 767px) {
                max-height: 300px;
                margin-bottom: 30px;
            }
        }
    }

    &__text {
        h1 {
            font-size: 2.5rem;
            color: rgb(52, 52, 52);
            line-height: 1.2;
            font-weight: 400;
            margin-bottom: 25px;
        }

        p {
            font-size: 1.6rem;
            color: rgb(52, 52, 52);
            line-height: 1.2;
            font-weight: 300;
            margin-bottom: 25px;

            span {
                font-weight: 400;
            }

            &:last-child {
                text-align: right;
            }
        }
    }
}

.custom-made {
    margin: 65px 0px;

    &__box {
        @media (max-width: 570px) {
            margin-top: 50px;
        }

        h1 {
            font-size: 2.5rem;
            color: rgb(52, 52, 52);
            line-height: 1.2;
            font-weight: 400;
            margin-bottom: 25px;
        }

        p {
            font-size: 1.6rem;
            color: rgb(52, 52, 52);
            line-height: 1.2;
            font-weight: 300;
            margin-bottom: 25px;
        }

        ul {
            counter-reset: number;

            li {
                font-size: 1.6rem;
                color: rgb(52, 52, 52);
                line-height: 1.2;
                display: flex;
                margin-bottom: 40px;

                p {
                    display: inline-flex;
                    flex-direction: column;
                    margin: 0;
                    font-weight: 400;
                    position: relative;

                    margin-left: 50px;

                    @media (max-width: 992px) {
                        margin-left: 20px;
                    }

                    span {
                        font-weight: 300;
                    }
                }

                &:before {
                    counter-increment: number;
                    content: counter(number);
                    font-weight: 300;
                    font-size: 1.6rem;
                    color: #fff;
                    background-color: #c39835;
                    border-radius: 100%;
                    display: inline-flex;
                    width: 40px;
                    height: 40px;
                    justify-content: center;
                    align-items: center;

                }
            }
        }
    }

    .upload {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
    }

    .upload+label {
        position: absolute;
        left: 0;
        font-size: 1.6rem;
        font-weight: 300;
        color: #a6a3a0;
        line-height: 2.6em;
        text-align: center;
        background-color: #fff;
        display: inline-block;
        cursor: pointer;

        &:before {
            content: '';
            background-image: url(../img/icons/metal-paper-clip.png);
            width: 19px;
            height: 21px;
            display: inline-block;
            margin-right: 10px;
            top: 4px;
            position: relative;
        }
    }
}

.not-found {
    &__text {
        text-align: center;
        margin: 80px 0px;
        line-height: 1.2;
        h1 {
            font-size: 25rem;
            color: rgb(195, 152, 53);
            font-weight: 500;
            margin-bottom: 20px;
        }

        h2 {
            font-size: 6rem;
            line-height: 0.6;
            margin-bottom: 30px;
            color: #343434;
            font-weight: 400;
            span {
                font-size: 3.2rem;
            }
        }

        p {
            font-weight: 300;
            color: #343434;
            font-size: 1.8rem;
            text-transform: uppercase;
        }
    }
}



.contact {
    margin: 95px 0px 65px;

    &__box {
        @media (max-width: 570px) {
            margin-top: 50px;
        }

        h1 {
            font-size: 2.5rem;
            color: rgb(52, 52, 52);
            line-height: 1.2;
            font-weight: 400;
            margin-bottom: 80px;
            span {
                font-weight: 300;
            }
        }

        p {
            font-size: 1.8rem;
            color: rgb(52, 52, 52);
            line-height: 1.2;
            font-weight: 300;
            margin-bottom: 25px;
            margin-left: 35px;
            &:before {
                content: '';
                background-image: url('../img/icons/flag.png');
                display: inline-block;

                width: 23px;
                
                height: 31px;
                
                position: absolute;
                
                left: 5px;
            }
        }

        ul {
            font-size: 1.6rem;
            color: rgb(52, 52, 52);
            line-height: 1.2;
            font-weight: 400;
            margin-bottom: 25px;
            li {
                margin-bottom: 25px;
                span {
                    font-weight: 300;
                }
            }
        }
    }


}
